M# Site
name: "EXMDR"
title: "EXMDR"
description: "Endpoint eXtended Managed Detection and Response"
logo: 'assets/images/logo.png'
favicon: 'assets/images/logo.png'
baseurl: /
url: 'https://exmdr.com'
google_analytics: 'UA-46278016-1'
disqus: 'donchai'
mailchimp-list: 'https://donchai.us21.list-manage.com/subscribe/post?u=2a5a41a9ed1a581d598be33c7&amp;id=c71715a0af&amp;f_id=00e55fe1f0'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  don:
    name: Don
    display_name: Don
    avatar: 'assets/images/DonChaiIcon.png'
    gravatar: e56154546cf4be74e393c62d1ae9f9d4
    email: admin@donchai.com
    web: https://donchai.com/about
    twitter: https://twitter.com/donchaitw
    description: "A passionate cybersecurity presale, an avid knowledge work>_cod>_er."
  chai:
    name: 辉
    display_name: 辉    
    avatar: 'assets/images/HuiIcon.png'
    gravatar: b1cc14991db7a456fcd761680bbc8f81
    email: 辉@donchai.com
    web: https://donchai.com
    twitter: https://twitter.com/donchaitw
    description: "热诚的网络安全预售员，热忱的知识工作>_程序>_员."

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
    
# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
